<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>AppInformation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>AppVersion</string>
			<key>Key</key>
			<string>iSDRVersionKey</string>
			<key>DefaultValue</key>
			<string>0.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SoundEffects</string>
			<key>Key</key>
			<string>soundEffectsEnabledKey</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PlayWhileMinimized</string>
			<key>Key</key>
			<string>playWhileMinimizedKey</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TouchControl</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SimpleTouchEnabled</string>
			<key>Key</key>
			<string>simpleTouchEnabledKey</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GridSettings</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>spectrumGridTypeKey</string>
			<key>Title</key>
			<string>SpectrumGridType</string>
			<key>Titles</key>
			<array>
				<string>Linear</string>
				<string>SemiLog</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>gridBrightnessKey</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string>gridsetimage0.png</string>
			<key>MaximumValueImage</key>
			<string>gridsetimage1.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SignalFloor</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>signalDisplayScaleFactorKey</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string>signalgain0.png</string>
			<key>MaximumValueImage</key>
			<string>signalgain1.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Current Configuration</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>CenterFrequencySetting</string>
			<key>Key</key>
			<string>iSDRCenterFrequencyKey</string>
			<key>DefaultValue</key>
			<integer>7200</integer>
			<key>isSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>RecordedAudioOnly</string>
			<key>Key</key>
			<string>iSDRdemoModeOnlyKey</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ReverseIQ</string>
			<key>Key</key>
			<string>iSDRreverseIQKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ActiveOperatingModeSetting</string>
			<key>Key</key>
			<string>iSDRoperatingModeKey</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>USB</string>
				<string>LSB</string>
				<string>CW</string>
				<string>AM</string>
				<string>FM</string>
				<string>Binaural</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>BandwidthSetting</string>
			<key>Key</key>
			<string>iSDRbpfBandwidthKey</string>
			<key>DefaultValue</key>
			<real>3000</real>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>100</integer>
				<integer>250</integer>
				<integer>500</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>3000</integer>
				<integer>4000</integer>
				<integer>6000</integer>
				<integer>11200</integer>
				<integer>16000</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>NoFilter</string>
				<string>100Hz</string>
				<string>250Hz</string>
				<string>500Hz</string>
				<string>1000Hz</string>
				<string>2000Hz</string>
				<string>3000Hz</string>
				<string>4000Hz</string>
				<string>6000Hz</string>
				<string>11200Hz</string>
				<string>16000Hz</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>AGCSetting</string>
			<key>Key</key>
			<string>iSDRagcSettingKey</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>AGCOff</string>
				<string>AGCSlow</string>
				<string>AGCFast</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>CWOffset</string>
			<key>Key</key>
			<string>iSDRbpfRxOffsetKey</string>
			<key>DefaultValue</key>
			<string>750</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>WifiSettings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>LastSuccessful</string>
			<key>Key</key>
			<string>successfulIPAddressKey</string>
			<key>DefaultValue</key>
			<string>none</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>IPAddress</string>
			<key>Key</key>
			<string>iSDRIPAddressKey</string>
			<key>DefaultValue</key>
			<string>Enter Valid IP Address</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>CommandPort</string>
			<key>Key</key>
			<string>iSDRCommandPortKey</string>
			<key>DefaultValue</key>
			<string>7373</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>7374</string>
			<key>Key</key>
			<string>iSDRDataPortKey</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>hasSuccessfullyConnectedKey</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>introMessageShownKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>PlusMinus</string>
			<key>Key</key>
			<string>plusMinusOrientationKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Wi-fi Function</string>
			<key>Key</key>
			<string>wifiFunctionalityEnabledKey</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>wifiFunctionalityPurchasedKey</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>newInstallKey</string>
		</dict>
	</array>
</dict>
</plist>
